/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.o-btn {
  height:55px;
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
  transition: $global-transition;
  border-radius: $global-radius;
  border:0;
  text-decoration:none;
  color:#fff;

  line-height: 32px; ////// ????
}





/* Style variants
   ========================================================================== */

.o-btn--primary {
  background-color: $red;

  &,
  &:hover,
  &:active{
    //text-transform:uppercase;
  }

  &:hover{
    background-color: darken($red, 10%);
  }

}

.o-btn--secondary {
  background-color: $mid;

  &,
  &:hover,
  &:active{
    //text-transform:uppercase;
  }

  &:hover{
    background-color: darken($mid, 10%);
  }

}

.o-btn--tertiary {
  background-color: $dark;
  
  &,
  &:hover,
  &:active{
    //text-transform:uppercase;
  }

  &:hover{
    background-color: darken($dark, 10%);
  }

}

.o-btn--blue {
  background-color: $blue;
  
  &,
  &:hover,
  &:active{
    //text-transform:uppercase;
  }

  &:hover{
    background-color: darken($blue, 10%);
  }
}

/* Size variants
   ========================================================================== */

.o-btn--small {
  height:auto;
  padding: inuit-rem($inuit-global-spacing-unit-tiny) inuit-rem($inuit-global-spacing-unit-small);
  line-height:1.5em;
}

.o-btn--large {
  height:auto;
  padding: inuit-rem($inuit-global-spacing-unit) inuit-rem($inuit-global-spacing-unit-large);
}

/* Other variants
   ========================================================================== */

.o-btn--white-text {
    color:#fff;
} 

.o-btn--disabled {
    color:rgba(255,255,255,.5);
    cursor:not-allowed;
    &.o-btn--primary {
        background-color: lighten($red,10%);
    }
    &.o-btn--secondary {
        background-color: lighten($mid,10%);
    } 
    &.o-btn--tertiary {
        background-color: lighten($dark,10%);
    }
    &:hover,&:focus {
       
    }
}

.o-btn--iconLeft {
    .icon {
        margin-top:-4px;
        margin-right:7px;
        vertical-align:middle;
    }
}
.o-btn--iconRight {
    .icon {
        margin-left:3px;
        vertical-align:middle;
    }
}

.o-btn--outline {
    border:1px solid;
    &.o-btn--primary {
        border-color: lighten($red,10%);
    }
    &.o-btn--secondary {
        border-color: lighten($mid,10%);
    }
    &.o-btn--tertiary {
        border-color: lighten($dark,10%);
    }
}

.o-btn--icon {
    padding-right:.5rem;
    padding-left:.5rem;
}

.o-btn--straight {
    border-radius:0;
}

@-webkit-keyframes pulse {
    0% { background-color: lighten($red,10%); }
    50% { background-color: $red; box-shadow:0px 0px 10px $red; }
    100% { background-color: lighten($red,10%); }
}
@keyframes pulse {
    0% { background-color: lighten($red,10%); }
    50% { background-color: $red; box-shadow:0px 0px 10px $red; }
    100% { background-color: lighten($red,10%); }
}
.o-btn--pulse {
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}


/* Ghost buttons
   ========================================================================== */

/**
 * Ghost buttons have see-through backgrounds and are bordered.
 */

$btn-ghost-border-width: 2px;

.o-btn--ghost {
  border: $btn-ghost-border-width solid #fff;
  //padding: ($inuit-global-spacing-unit-small - $btn-ghost-border-width) ($inuit-global-spacing-unit - $btn-ghost-border-width);
  line-height:1.6;
  
  &,
  &:hover,
  &:active {
    background: none;
  }

  &:hover {
    background: #fff;
    color:$dark;
  }

  &.o-btn--small {
    padding: ($inuit-global-spacing-unit-tiny - $btn-ghost-border-width) ($inuit-global-spacing-unit-small - $btn-ghost-border-width);
  }

  &.o-btn--large {
    padding: ($inuit-global-spacing-unit - $btn-ghost-border-width) ($inuit-global-spacing-unit-large - $btn-ghost-border-width);
  }

  &.o-btn--primary {
    color: #4a8ec2;

    &:hover{
      color: #3774a2;
    }

  }

  &.o-btn--secondary {
    color: #2f4054;

    &:hover {
      color: #1d2733;
    }

  }

  &.o-btn--tertiary {
    color: #fff;

    &:hover{
      color: #fff;
    }

  }

}