/* ==========================================================================
   #PASTEL-COLORS
   ========================================================================== */

@function random_pastel() {
    $r: random(255);
    $g: random(255);
    $b: random(255);

    // mix white
    $r: ($r + 255) / 2;
    $g: ($g + 255) / 2;
    $b: ($b + 255) / 2;
        @return rgb($r, $g, $b);
}

@for $i from 1 to 501 {
    .pastelSwatch--#{$i}{
        background: tint(darken(random_pastel(), 10%), 5%) !important;
    }
}