{% extends 'index.html' %}

{% block main_content %}
  <h1>YouTube test page</h1>
{% if user.is_authenticated %}
  <h1 style="margin-bottom: 0;">Hello {{ request.user }}</h1>
{% else %}
  <h1 style="margin-bottom: 0;">You're not logged in</h1>
{% endif %}
  <h2>(This doesn't refresh unless you refresh the page)</h2>
  <div class="form-group" id="youtube_connect">
    <a href="/auth/youtube">
      <button class="btn btn-primary">CONNECT TO YOUTUBE</button>
    </a>
  </div>
  <br><br>
  <div style="display: none;" class="form-group" id="youtube_get">
    <h3>Your successfully connected to YouTube</h3>
    <button id="get_vimeo_vids" class="btn btn-primary">GET YOUTUBE VIDS</button>
  </div>
  <div style="margin-top: 20px;" id="results"></div>
{% endblock %}

{% block js %}
<script type="application/javascript">
  if(window.vidfeed.user.subscription.valid &&
      window.vidfeed.user.subscription.linked_youtube) {
    $('#youtube_get').show();
    $('#youtube_get').click(function () {
      $.ajax({
        type: 'get',
        url: '/api/youtube/videos',
        success: function (data) {
          console.log(data);
          $('#results').html(JSON.stringify(data));
        },
        error: function (data) {
          console.log(data);
        }
      })
    })

  }
</script>
{% endblock %}