///* ========================================================================
//   #SETTINGS - CORE
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1/3) + s !default;



/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$blue:#49c9f5;
$red:#f05d80;
$dark:#2d2f34;
$mid:#404248;
$light:#e8ebf0;