/*------------------------------------*\
    $SHAME
\*------------------------------------*/

.blurLayer {
    transition:$global-transition;
}

.blurLayer--active {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.ReactModal__Content--after-open {
    opacity:1!important;
}

.u-opacity-0 {
    opacity:0;
}

.scrollPane {
    overflow:hidden;
    @include mq($from: tablet) {
        margin-left:-$inuit-global-spacing-unit;
    }
}

.scrollPane__content {
    overflow:hidden;
    padding:$inuit-global-spacing-unit;
    padding-bottom:0;
}