/* ==========================================================================
   #ACCOUNT
   ========================================================================== */

.c-accountForms {
    padding:$inuit-global-spacing-unit;
    padding-top:$inuit-global-spacing-unit*2;
    border-top:4px solid $red;
    background:#fff;
    text-align:left;
}