/* ==========================================================================
   #COMMENT-LIST
   ========================================================================== */

.c-commentList__outer {
    @include mq($from: mobile, $until:tablet) {
        margin-bottom:$inuit-global-spacing-unit;
        padding-right: $inuit-global-spacing-unit;
        padding-left:  $inuit-global-spacing-unit;
    }
}

.c-commentList__count {
    h3 {
        @include inuit-font-size(18px);
        font-weight:400;
    }
    @include mq($from: tablet) {
        @include inuit-rem(min-height, 47px);
        padding:$inuit-global-spacing-unit/2;
        margin-bottom:0;
        background:$dark;
        color:#fff; 
        h3 {
            margin-bottom:0;
        }
    }
}

.c-commentList {
    
}
.c-commentList__no-comments {
    width:100%;
    color:darken($light,10%);
    text-align:center;
    font-weight:600;
    @include inuit-font-size(24px, $line-height:1.2);
    @include mq($from: mobile, $until: tablet) {
        margin:$inuit-global-spacing-unit 0 $inuit-global-spacing-unit*2;
    }
    @include mq($from: tablet) {
        position:absolute;
        top:50%;
        left:0;
        margin-top:-10%;
        padding:0 20px;
    }
}

.c-comment__outer {
    transition: background-color ease-out .25s;
    &:hover {
        cursor:pointer;
    }
    &:nth-of-type(odd) {
        background:#fff;
        &:hover {
            background-color:lighten($blue,25%);
        }
    }
    &:nth-of-type(even) {
        background:#f5f6f7;
        &:hover {
            background-color:lighten($blue,25%);
        }
    }
}
.c-comment {
    padding:$inuit-global-spacing-unit/2; 
}
.c-comment--reply {
    padding-left:$inuit-global-spacing-unit;
}
.c-comment--fresh {
    background-color:lighten($blue,25%);
}

.c-comment__author {
    float:left;
    margin-bottom:4px;
    transition: $global-transition;
    .c-comment--locked & {
        opacity:0.3;
    }
}
.c-comment__timecode {
    float:right;
    margin-bottom:4px;
    padding:4px 8px;
    background:#fff;
    font-weight:600;
    color:$mid;
    @include inuit-font-size(14px, $line-height:1);
    border-radius:3px;
    transition: all $global-transition;
    .c-comment__outer:nth-of-type(odd) & {
        background:#f5f6f7;
    }
    .c-comment__outer:hover & {
        background:$red!important;
        color:#fff;
    }
}
.c-comment__body {
    padding-left:30px;
    @include inuit-font-size(14px,$line-height:1.5);
    transition: $global-transition;
    .c-comment--locked & {
        opacity:0.3;
    }
}

.c-comment__footer {
    position:relative;
}
.c-comment__lockBtn {
    position:absolute;
    top:12px;
    left:0;
    width:$inuit-global-spacing-unit;
    height:$inuit-global-spacing-unit;
    border:1px solid;
    border-radius:100%;
    text-align:center;
    line-height:19px;
    transition: $global-transition;
    z-index:20;
    .icon {
        vertical-align:middle;
    }
}
.c-comment__lockBtn--unlocked {
    border-color:$mid;
    opacity:0.5;
    &:hover {
        opacity:1;
        border-color:#fff;
        background:#fff;
    }
}
.c-comment__lockBtn--locked {
    border-color:$red;
    background:$red;
    .icon {
        opacity:1;
    }
    &:hover {
        border-color:lighten($red,10%);
        background:lighten($red,10%);
    }
}

.c-comment .c-actions {
    padding-left:33px;
}
.c-comment--locked .c-actions {
    position:relative;
    opacity:.3;
    &:after {
        content:'';
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background:transparent;
    }
}

.c-comment__created {
    float:right;
    margin-top:16px;
    @include inuit-font-size(12px);
    color:darken($light,10%);
}
