/* ==========================================================================
   #COMMENT-LIST
   ========================================================================== */

.c-commentList__outer {
    @include mq($from: mobile, $until:tablet) {
        margin-bottom:$inuit-global-spacing-unit;
        padding-right: $inuit-global-spacing-unit;
        padding-left:  $inuit-global-spacing-unit;
    }
}

.c-commentList__count {
    h3 {
        @include inuit-font-size(18px);
        font-weight:400;
    }
    @include mq($from: tablet) {
        padding:$inuit-global-spacing-unit/2;
        margin-bottom:0;
        background:$dark;
        color:#fff; 
        h3 {
            margin-bottom:0;
        }
    }
}

.c-commentList {
    // @include mq($from: tablet) {
    //     overflow-y:scroll;
    // }
}
.c-commentList__no-comments {
    width:100%;
    color:darken($light,10%);
    text-align:center;
    font-weight:600;
    @include inuit-font-size(24px, $line-height:1.2);
    @include mq($from: mobile, $until: tablet) {
        margin:$inuit-global-spacing-unit 0 $inuit-global-spacing-unit*2;
    }
    @include mq($from: tablet) {
        position:absolute;
        top:50%;
        left:0;
        margin-top:-10%;
        padding:0 20px;
    }
}

.c-comment__outer {
    padding:$inuit-global-spacing-unit/2;
    &:nth-of-type(odd) {
        background:#fff;
    }
    &:nth-of-type(even) {
        background:#f5f6f7;
    }
}
.c-comment--reply {
    margin-top:$inuit-global-spacing-unit/2;
    padding-left:$inuit-global-spacing-unit/2;
}

.c-comment__author {
    float:left;
    margin-bottom:4px;
}
.c-comment__timecode {
    float:right;
    margin-bottom:4px;
    padding:4px 8px;
    background:#fff;
    font-weight:600;
    @include inuit-font-size(14px, $line-height:1);
    border-radius:3px;
    .c-comment__outer:nth-of-type(odd) & {
        background:#f5f6f7;
    }
}
.c-comment__body {
    padding-left:30px;
    @include inuit-font-size(14px,$line-height:1.5);
}
.c-comment__actions {
    float:left;
    margin-top:10px;
    opacity:.75;
    ul {
        margin:0;
    }
    li {
        margin-left:10px;
        vertical-align:middle;
        &:first-child {
            margin-left:0;
        }
    }
    a {
        opacity:0.5;
        transition: $global-transition;
        &:hover, &:focus {
            opacity:1;
        }
    }
}
.c-comment__created {
    float:right;
    margin-top:9px;
    @include inuit-font-size(12px);
    color:darken($light,10%);
}