/* ==========================================================================
   #FEED-LIST
   ========================================================================== */

.c-feedList__no-feeds {
    display:block;
    width:100%;
    color:darken($light,10%);
    text-align:center;
    font-weight:600;
    @include inuit-font-size(48px, $line-height:1.2);
    @include mq($from: mobile, $until: tablet) {
        margin:$inuit-global-spacing-unit 0 $inuit-global-spacing-unit*2;
    }
    @include mq($from: tablet) {
        padding:10% 20px;
    }
}

.c-feedItem {
    position:relative;
    min-height:240px;
    margin-bottom:$inuit-global-spacing-unit;
    background:#fff;
    color:$dark;
    @include inuit-clearfix();
    transition: $global-transition;
    &:hover {
        background-color:lighten($blue,25%);
    }
}
.c-feedItem--selected {
    outline:3px solid $blue;
}
.c-feedItem__title {
    display:block;
    font-weight:700;
    @include inuit-font-size(12px, $line-height:1.4);
}
.c-feedItem__title--edit {
    font-weight:400;
}
.c-feedItem__created {
    position:absolute;
    right:12px;
    bottom:10px;
    @include inuit-font-size(12px);
    color:darken($light,10%);
}

.c-feedItem .c-actions {
    position:absolute;
    left:12px;
    bottom:10px;
}

.c-feedItem__tick {
    position:absolute;
    top:$inuit-global-spacing-unit/2;
    left:$inuit-global-spacing-unit/2;
    width:$inuit-global-spacing-unit;
    height:$inuit-global-spacing-unit;
    border:1px solid;
    border-radius:100%;
    background:#fff;
    text-align:center;
    line-height:19px;
    transition: $global-transition;
    z-index:20;
    .icon {
        vertical-align:middle;
    }
}
.c-feedItem__tick--unselected {
    border-color:darken($light,10%);
    opacity:0.5;
    .c-feedItem:hover & {
        opacity:1;
        background:#fff;
    }
}
.c-feedItem__tick--selected {
    border-color:$red;
    background:$red;
    .icon {
        opacity:1;
    }
    .c-feedItem:hover & {
        border-color:lighten($red,10%);
        background:lighten($red,10%);
    }
}