/* ==========================================================================
   #USER
   ========================================================================== */

.user {
    position:relative;
    padding:$inuit-global-spacing-unit/2 0 $inuit-global-spacing-unit/2 $inuit-global-spacing-unit/2;
    @include inuit-font-size(14px);
    .c-comment__author & {
        padding:0;
    }
}
.user__icon {
    display:inline-block;
    width:$inuit-global-spacing-unit;
    height:$inuit-global-spacing-unit;
    margin-top:-1px;
    margin-right:6px;
    background:$light;
    border-radius:50%;
    color:$mid;
    text-align:center;
    @include inuit-font-size(12px, $line-height:$inuit-global-spacing-unit);
    text-transform:uppercase;
}


.user--iconOnly {
    position:relative;
    display:inline-block;
    padding:0;
    .user__icon {
        margin-right:5px;
    }
    .user__email {
        position:absolute;
        top:140%;
        left:50%;
        transform: translate(-50%, 0);
        display:none;
        padding:4px 8px;
        background: #fff;
        color:$mid;
        z-index:10;
        border-radius:2px;
        @include inuit-font-size(12px,$line-height:1.2);
        &:before {
            @include triangle(top, $color:#fff, $size:3px);
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            margin-left:-2px;
            bottom: 100%;
        }
    }
    &:hover {
        cursor:default;
        .user__email {
            display:block;
        }
    }
}


.user__title {
    font-weight: 700;
}

.user__remove {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width:45px;
    height:100%;
    color:$mid;
    @include inuit-font-size(24px, $line-height:45px);
    text-align:center;
    text-decoration:none;
    transition: $global-transition;
    &:hover,
    &:focus {
        color:$red;
    }
}

.c-collaborators {
    display:inline-block;
    margin-right:$inuit-global-spacing-unit/2;
}