/* ==========================================================================
   #HEADER
   ========================================================================== */

.header {
    height:inuit-rem(65px);
    padding:$inuit-global-spacing-unit/4 $inuit-global-spacing-unit;
    border-top:4px solid $blue;
    background:#fff;
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    .logo {
        display:inline-block;
        vertical-align:middle;
        max-width:inuit-rem(103px);
        margin-top:3px;
    }
}
.header--home {
    padding:$inuit-global-spacing-unit 0;
    border-top:0;
    background:transparent;
    text-align:left;
    .logo {
        max-width:inuit-rem(124px);
    }
}