/* ==========================================================================
   #NAVIGATION
   ========================================================================== */

.nav {
    float:right;
    overflow:hidden;
    @include mq($from: 551px) {
        position:relative;
    }
} 
.nav--loggedIn {
}
.nav--home {
    .nav__link {
        display:inline-block;
        margin:0 $inuit-global-spacing-unit;
        color:#fff;
        &:after {
            content:'';
            display:block;
            height:1px;
            width:0;
            background: transparent;
            transition: $global-transition;
        }
        &:hover:after {
            width:100%;
            background:#fff;
        }
    }
    .o-btn {
        margin-left:$inuit-global-spacing-unit;
    }
    @include mq($until: 550px) {
        float:none;
        display:block;
        margin:$inuit-global-spacing-unit auto 0;
        text-align:center;
        ul {
            display:inline-block;
        }
        .o-btn {
            margin:0 $inuit-global-spacing-unit/4;
            width:135px;
        }
    }
}

.nav__user {
    display:inline-block;
    vertical-align:top;
    padding-right:42px;
    transition:$global-transition;
    .nav--subnavShowing & {
        padding-right:0;
    }
}

.subnav__btn {
    overflow:hidden;
    margin:16px 0 0 $inuit-global-spacing-unit;
    cursor:pointer;
    transition:$global-transition;
    .icon {
        width:$inuit-global-spacing-unit*.75;
        height:$inuit-global-spacing-unit*.75;
    }
    @include mq($from: 551px) {
        position:absolute;
        top:0;
        right:0;
    }
}
.subnav__btn--invisible {
    opacity:0;
    visibility:hidden;
}

.subnav {
    display: inline-block;
    vertical-align:top;
    overflow:hidden;
    padding-top:17px;
    transition: $global-transition;
    @include mq($until: 550px) {
        position:fixed;
        top:0;
        right:0;
        width:auto;
        height:100%;
        padding:$inuit-global-spacing-unit*2 $inuit-global-spacing-unit;
        z-index:100;
        background:$blue;
        transform:translateX(100%);
        .nav__user {
            display:block;
        }
        .user {
            padding-left:0;
            color:#fff;
            text-align:center;
        }
        .o-btn {
            width:100%;
            margin-bottom:$inuit-global-spacing-unit/2;
        }
    }
    @include mq($from: 551px) {
        width:0;
        transform:translateX(50px);
        @include inuit-font-size(14px, $line-height:14px);
        ul {
            display:block;
            width:140px;
        }
        li {
            margin:0 0 0 $inuit-global-spacing-unit;
        }
        .nav--loggedIn & ul {
            width:160px;
        }
    }
}
.subnav--open {
    transform:translateX(0);
    @include mq($until: 550px) {
        width:auto;
    }
    @include mq($from: 551px) {
        width:140px;
        .nav--loggedIn & {
            width:160px;
        }
    }
}
.subnav__close {
    position:absolute;
    top:$inuit-global-spacing-unit/2;
    right:$inuit-global-spacing-unit/2;
    cursor:pointer;
}
.subnav__link {
    display:inline-block;
    color:$mid;
    cursor:pointer;
    &:after {
        content:'';
        display:block;
        height:1px;
        width:0;
        margin-top:2px;
        background: transparent;
        transition: $global-transition;
    }
    &:hover:after {
        width:100%;
        background:$mid;
        .nav--home & {
            background:#fff;
        }
    }
    .nav--home & {
        color:#fff;
    }
}


