/* ==========================================================================
   #ICONS
   ========================================================================== */

.icon {
    display:inline-block;
    width:$inuit-global-spacing-unit/2;
    min-height:$inuit-global-spacing-unit/2;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:100%;
    font-style: normal;
}

.icon--replyArrow {
    width:$inuit-global-spacing-unit*.75;
    background-image:url(../images/arrow.svg);
}

.icon--tick {
    width:$inuit-global-spacing-unit*.75;
    background-image:url(../images/checked.svg);
}
.icon--tickBlue {
    width:$inuit-global-spacing-unit*.75;
    background-image:url(../images/tick-blue.svg);
}

.icon--pencil {
    background-image:url(../images/tool.svg);
}

.icon--message {
    background-image:url(../images/message.svg);
}

.icon--dashboard {
    background-image:url(../images/dashboard.svg);
}
.icon--todo {
    background-image:url(../images/tick.svg);
}
.icon--paint {
    background-image:url(../images/paint.svg);
}
.icon--vimeo {
    background-image:url(../images/vimeo.svg);
}
.icon--youtube {
    background-image:url(../images/youtube.svg);
}
.icon--unlimited {
    background-image:url(../images/unlimited.svg);
}

.icon--cross {
    &:after {
        content:'×';
        @include inuit-font-size(22px,$line-height:0);
        color:$dark;
    }
}

.icon--crossWhite {
    width:auto;
    &:after {
        content:'×';
        @include inuit-font-size(32px);
        color:#fff;
        line-height:1rem;
    }
}

.icon--user {
    background-image:url(../images/avatar.svg);
}

.icon--bubble {
    @include inuit-rem(width,32px);
    @include inuit-rem(height,28px);
    background-image:url(../images/speechBubble.svg);
}